{% include base_path %}

<!-- start custom head snippets -->

<!-- favicon: "gf" monogram in Big Caslon roman -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/icon-caslon-32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/icon-caslon-16.png"/>
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/icon-caslon-192.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/icon-caslon-180.png"/>
<link rel="shortcut icon" href="{{ base_path }}/images/icon-caslon.ico"/>
<meta name="theme-color" content="#f5f1e8"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Google Fonts: Inter (body) + Instrument Serif (headings) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">

<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
